* {
  padding: 0;
  margin: 0;
}
.background {
  height: 100vh;
  padding-top: 2px;
  background-color: rgb(67, 67, 67);
}

.title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
}

.display {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
  /* background-color: red; */
}

.tile {
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.playerX {
  color: cyan;
}

.playerO {
  color: rgb(34, 63, 63);
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

#reset {
  background-color: #ff3860;
  color: white;
  padding: 8px;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}
